/*PRINCIPAIS*/
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(58, 11, 102);
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgba(58, 11, 102, 0.555);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.main{
    padding-top: 60px;
    background-color: rgb(128, 86, 167);
}

.conteudos, .project{
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(222, 196, 247, 0.664);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(83, 12, 83);
    display: flex;
}

.esquerda, .direita, .project-left, .project-right{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.esquerda, .left{
    text-align: center;
}

.direita, .right{
    text-align: left;
}

.contato{
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(222, 196, 247, 0.664);
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(83, 12, 83);
    text-align: center;
    margin-bottom: 60px;
}

.footer{
    background-color: rgba(58, 11, 102, 0.555);
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}






/*ESTIIZAÇÕES DETALHADAS*/
.welcome{
    font-size: 45px;
    text-align: center;
}

.ul{
    list-style: none;
}

.li{
    display: inline;
    margin-right: 20px;
}

.link{
    text-decoration: none;
    color: white;
}

.div-dados{
    text-align: center;
    font-size: 20px;
}

.titulos, .projetos{
    font-size: 40px;
    background-color: rgb(88, 19, 153);
}

.li-work{
    font-size: 20px;
}

.div-main{
    text-align: center;
}

.projetos{
    text-align: center;
}

header ul li:hover {
    background-color: #be60e4;
    cursor: pointer;
    border-radius: 2px;
    padding: 2px;
    transition: 0.3s;
}

.botao{
    text-align: center;
    color: rgb(88, 19, 153);
    background: transparent;
    border: solid 1px rgb(88, 19, 153);
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}

.botao:hover{
    background-color: rgb(88, 19, 153);
    color: white;
    transition: 0.5s;
    font-size: 15px;
}

.email{
    color: rgb(88, 19, 153);
    font-size: 20px;
}






/*Redes sociais*/
.linkedin{
    text-align: center;
    color: rgb(30, 30, 255);
    background: transparent;
    border: solid 1px rgb(30, 30, 255);
    padding: 5px;
    border-radius: 15px;
    font-size: 30px;
    width: 300px;
    cursor: pointer;
}

.linkedin:hover{
    background-color: rgb(30, 30, 255);
    color: white;
    transition: 0.5s;
    font-size: 40px;
}

.github{
    text-align: center;
    color: rgb(41, 41, 41);
    background: transparent;
    border: solid 1px rgb(41, 41, 41);
    padding: 5px;
    border-radius: 15px;
    font-size: 30px;
    width: 300px;
    cursor: pointer;
}

.github:hover{
    background-color: rgb(41, 41, 41);
    color: white;
    transition: 0.5s;
    font-size: 40px;
}

.instagram{
    text-align: center;
    color: rgb(224, 20, 180);
    background: transparent;
    border: solid 1px rgb(224, 20, 180);
    padding: 5px;
    border-radius: 15px;
    font-size: 30px;
    width: 300px;
    cursor: pointer;
}

.instagram:hover{
    background-color: rgb(224, 20, 180);
    color: white;
    transition: 0.5s;
    font-size: 40px;
}

.linkedin, .github, .instagram{
    margin: 30px;
}